.web{
    display: flex;
    flex: 1;
    align-items: center;
}
.web-option{
    font-size: 18px;
    margin-right: 16px;
    font-weight: 500;
    transition: 300ms ease-out all;
}

.web-option:hover {
    transform: translateY(-8px);
}

.web-option a{
    text-decoration: none;
    color: #27C3C0;
    display: flex;
    align-items: center;
}

.option-icon{
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.web-option:last-child {
    margin-right: 0px;
}

@media only screen and (max-width: 1125px) {
    .web-option a {
      font-size: 16px;
  }
}