.project-card{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    padding: 8px 0px;
}
.project-photo{
    width: 40%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.7s all ease;
}

.project-photo:hover {
    transform: translateY(-10px);
}

.project-info{
    margin-right: 42px;
}

.project-title{
    font-size: 30px;
    font-weight: 600;
}

.project-tags{
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}

.tag {
    padding:  4px 8px;
    background-color: #51CCD4;
    border-radius: 4px;
    color: #ffff;
    margin-right: 6px;
    margin-bottom: 4px;
}

.project-links a {
    text-decoration: none;
    color: #ffff;
}

.project-links{
    margin-top: 10px;
    display: flex;
}

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #51CCD4;
    width: max-content;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 6px;
}

.link-button i {
    display: flex;
    align-items: center;
    mask-repeat: 4px;
    margin-right: 7px;
}

.devicon-github-original.colored, .devicon-github-original-wordmark.colored, .devicon-github-plain.colored {
    color: #ffff;
}

@media only screen and (max-width: 720px) {
    .project-photo {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .project-card {
        flex-direction: column-reverse;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .project-title {
        font-size: 33px;
    }
    .project-info {
        margin-left: 0px;
        margin-top: 12px;
        text-align: justify;
    }
    .project-tags {
        max-width: 100%;
    }

    .project-about {
        text-align: justify;
    }
}

@media only screen and (max-width: 360px) {
    .project-card {
        margin: 30px 0px;
    }
}