.about {
    padding-bottom: 48px;
}

.about-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture {
    height: 490px;
}

.about-info {
    font-size: 24px;
}

.info-name {
    color: #27C3C0;
    font-size: 32px;
    transition: 300ms ease-out all;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D4FB31;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media only screen and (max-width: 720px) {
    .about-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .picture {
        height: 360px;
    }

    .about-info {
        font-size: 28px;
    }

    .info-name {
        font-size: 26px;
    }
}